---
import Image from "astro/components/Image.astro";
import matchaPowder from "../../assets/images/products/matcha-30g.webp";
import matchaPowderHover from "../../assets/images/matcha/mathca-hands.webp";
import matchaWhisk from "../../assets/images/products/whisk.webp";
import matchaWhiskHover from "../../assets/images/matcha/matcha-whisk02.webp";
import matchaSpoon from "../../assets/images/products/spoon.webp";
import matchaSpoonHover from "../../assets/images/products/spoon-dark.webp";

import Button from "../atoms/Button.astro";
---

<section>
  <h3 class="Typo-headline-medium-breaker">Missing something for your matcha kit?</h3>
  <div id="card_container">
    <a class="card">
      <div class="ProductImage_container">
        <Image src={matchaPowder} alt="" class="Image" />
        <Image src={matchaPowderHover} alt="" class="HoverImage" />
      </div>
      <div class="InfoContainer">
        <p class="productName Typo-productcard-product">Ceremonial Matcha Powder - 30g</p>
        <p class="productPrice Typo-productcard-price">289,00 DKK</p>
        <div class="notes">
          <div class="stars">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M6 0.339844L7.34708 4.48574H11.7063L8.17963 7.04805L9.52671 11.1939L6 8.63164L2.47329 11.1939L3.82037 7.04805L0.293661 4.48574H4.65292L6 0.339844Z" fill="#3D2D21"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M6 0.339844L7.34708 4.48574H11.7063L8.17963 7.04805L9.52671 11.1939L6 8.63164L2.47329 11.1939L3.82037 7.04805L0.293661 4.48574H4.65292L6 0.339844Z" fill="#3D2D21"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M6 0.339844L7.34708 4.48574H11.7063L8.17963 7.04805L9.52671 11.1939L6 8.63164L2.47329 11.1939L3.82037 7.04805L0.293661 4.48574H4.65292L6 0.339844Z" fill="#3D2D21"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M6 0.339844L7.34708 4.48574H11.7063L8.17963 7.04805L9.52671 11.1939L6 8.63164L2.47329 11.1939L3.82037 7.04805L0.293661 4.48574H4.65292L6 0.339844Z" fill="#3D2D21"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
              <path d="M6 0.339844L7.34708 4.48574H11.7063L8.17963 7.04805L9.52671 11.1939L6 8.63164L2.47329 11.1939L3.82037 7.04805L0.293661 4.48574H4.65292L6 0.339844Z" fill="#3D2D21"></path>
            </svg>
          </div>
          <p class="note Typo-productcard-note">(5.0)</p>
        </div>
      </div>
    </a>
    <a class="card">
      <div class="ProductImage_container">
        <Image src={matchaWhisk} alt="" class="Image" />
        <Image src={matchaWhiskHover} alt="" class="HoverImage" />
      </div>
      <div class="InfoContainer">
        <p class="productName Typo-productcard-product">Matcha Whisk</p>
        <p class="productPrice Typo-productcard-price">149,00 DKK</p>
      </div>
    </a>
    <a class="card">
      <div class="ProductImage_container">
        <Image src={matchaSpoon} alt="" class="Image" />
        <Image src={matchaSpoonHover} alt="" class="HoverImage" />
      </div>
      <div class="InfoContainer">
        <p class="productName Typo-productcard-product">Matcha spoon</p>
        <p class="productPrice Typo-productcard-price">80,00 DKK</p>
        <div class="notes">
          <p class="note Typo-productcard-note">2 COLORS AVAILABLE</p>
        </div>
      </div>
    </a>
  </div>
  <div id="button_container">
    <Button style="primary" label="View all products" size="fillContainer" href="/shop" />
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  h3 {
    padding: 0 20px;
    text-align: center;
  }
  #card_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    flex-direction: column;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 300px;
  }
  .ProductImage_container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: grid;
  }

  .Image,
  .HoverImage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    grid-area: 1/ 2/ 1/ 2;
  }
  .Image {
    background-color: var(--Color-Background-Primary);
    z-index: 1;
  }

  .card:hover .ProductImage_container .Image {
    animation: fade-out 0.4s ease-in both;
  }

  .InfoContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .productName,
  .productPrice {
    width: 100%;
    text-align: center;
  }
  .notes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
  .stars {
    display: flex;
    align-items: flex-start;
    gap: 3px;
  }

  #button_container {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @media (min-width: 550px) {
    #card_container {
      flex-direction: row;
    }
    .card {
      width: 28vw;
    }
    .ProductImage_container {
      width: 28vw;
      height: 28vw;
    }

    .Image,
    .HoverImage {
      width: 28vw;
      height: 28vw;
    }

    #button_container {
      max-width: 400px;
    }
  }

  @media (min-width: 920px) {
    .card {
      width: 280px;
    }
    .ProductImage_container {
      width: 280px;
      height: 280px;
    }

    .Image,
    .HoverImage {
      width: 280px;
      height: 280px;
    }
  }
</style>
