---
import Image from "astro/components/Image.astro";
import image1 from "../assets/images/matcha/flatlay01.png";
import Matcha from "../assets/images/matcha/matcha.jpg";
import Arisholm from "../assets/images/events/Arisholm.png";
import Quote from "../assets/images/graphics/JohanneQuote.svg";
import BaseLayout from "../layouts/BaseLayout.astro";
import InstaCTA from "../components/sections/InstaCTA.astro";
import Form from "../components/molecules/Form.astro";
---

<BaseLayout titleTag="About Piohní matcha" pagename="about-piohni" metaDescription="Piohní stands as a beacon of serenity, offering authentic Japanese matcha that warms the heart and soothes the soul.">
  <main>
    <section id="AboutSection">
      <div class="AboutRow">
        <div class="AboutColumn">
          <h1 class="headline Typo-headline-medium-uppercase">About Piohní</h1>
          <div class="abouttext">
            <h3 class="sectionHeader Typo-headline-xstrasmall-classic">Introducing Piohní:</h3>
            <p class="Typo-body-regular">
              Piohní was founded upon a quest for tranquility amidst the chaos of everyday life. Like the Midas touch of health, Piohní offers a moment of tranquility amidst the chaos of modern life. Our foundation centers on simplicity, grounded in
              the belief that less is often more.<br />
              <br />At the core of Piohní's philosophy lies a commitment to excellence. We proudly curate only the most exceptional ceremonial-grade matcha, meticulously sourced directly from the esteemed "Champagne" region of Japan. Renowned for its
              pristine quality and unparalleled flavor profile, our matcha embodies a harmonious blend of creaminess and sweetness, without a trace of bitterness.
            </p>
            <div class="quoteImage">
              <Image src={Quote} alt="I sifted through 147 varieties of matcha in search of the perfect brew. Quote: founder, Johanne Cornelia" class="image" />
            </div>
          </div>
        </div>
        <div class="ImageContainer">
          <Image src={image1} alt="matcha powder in spoon" class="image aboutImage" />
        </div>
      </div>
      <div class="AboutRow">
        <div class="ImageContainer">
          <Image src={Arisholm} alt="matcha powder in spoon" class="image aboutImage" />
        </div>
        <div class="AboutColumn">
          <h2 class="headline Typo-headline-medium-uppercase">About the founder</h2>
          <div class="abouttext">
            <h3 class="sectionHeader Typo-headline-xstrasmall-classic">The Founder's Journey:</h3>
            <p class="Typo-body-regular">
              My journey into the world of matcha began with a personal quest for peace. Recognizing the profound calmness matcha brought to my life, I was driven by the belief that everyone deserves to experience such serenity daily, not just
              occasionally. However, I encountered a common issue: the matcha available often fell short, either lacking in quality or altogether absent from menus.<br /><br /> After two years of relentless exploration spanning the globe, I sifted through
              147 varieties of matcha in search of the perfect brew. My journey led me to the verdant tea gardens nestled in the southernmost reaches of Japan, where I discovered the ultimate matcha – a blend that transcended all others in taste and quality.<br
              /><br />
              Today, Piohní stands as a beacon of serenity, offering authentic Japanese matcha that warms the heart and soothes the soul. Join us in savoring the simple joys of life, one cup of matcha at a time.
            </p>
            <p class="Typo-signature">Warm regards, <br />Johanne Cornelia</p>
          </div>
        </div>
      </div>
    </section>
    <section id="WhyPartnerSection">
      <div class="WhyImageContainer">
        <Image src={Matcha} alt="matcha powder in spoon" class="WhyImage" />
      </div>
      <div class="WhyColumn">
        <div class="WhyText">
          <p class="Typo-headline-medium-uppercase">Let's get in contact</p>
          <p class="Typo-body-large">
            We supply our specialty quality matcha to hotels and cafés worldwide. We offer expert training in matcha making and host unique matcha-themed events that will captivate your customers and set your establishment apart.
          </p>
        </div>
        <Form />
      </div>
    </section>
    <InstaCTA headline="be a part of the community" />
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 0px 0px 80px;
  }
  #AboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--Spacing-Huge2, 80px);
    padding: 0 20px;
  }
  .AboutRow {
    display: flex;
    width: 100%;
    max-width: 1040px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;

    flex-direction: column;
    flex-flow: column-reverse;
  }

  .AboutRow:first-child .ImageContainer {
    height: 200px;
  }
  .AboutColumn,
  .ImageContainer {
    width: 100%;
  }
  .ImageContainer {
    overflow: hidden;
  }
  .AboutColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .image {
    height: 100%;
    width: 100%;
  }
  .abouttext {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .aboutImage {
    aspect-ratio: 500 / 607;
  }

  .quoteImage .image {
    object-fit: fill;
  }
  /* Why Partner section */
  #WhyPartnerSection {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    background: var(--Color-Background-Secondary, #f7f2ef);
    overflow: hidden;
    width: 100vw;
  }

  .WhyImageContainer {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .WhyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .WhyColumn {
    flex: 1 0 0;
    padding: 40px var(--Spacing-Huge2, 80px) 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    max-width: 100%;
  }

  .WhyText {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .WhyText p {
    text-align: center;
  }
  .WhyColumn .Typo-body-large {
    max-width: 700px;
  }

  .button_container {
    display: flex;
    align-items: flex-start;
    gap: 12px 20px;
    flex-wrap: wrap;
  }

  @media (min-width: 700px) {
    main {
      padding: var(--Spacing-Huge4, 120px) 0px;
      gap: 160px;
    }
    .AboutRow {
      display: flex;
      flex-flow: initial;
      width: 100%;
      max-width: 1040px;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 40px;
    }
    .AboutRow:first-child .ImageContainer {
      height: auto;
    }
    .WhyText p {
      text-align: left;
    }
  }
</style>

<script>
  function adjustHeights() {
    const whyColumn = document.querySelector(".WhyColumn") as HTMLElement;
    const whyImageContainer = document.querySelector(".WhyImageContainer") as HTMLElement;
    const whyImage = document.querySelector(".WhyImage") as HTMLElement;

    if (whyColumn && whyImageContainer && whyImage) {
      const columnHeight = whyColumn.clientHeight;
      whyImageContainer.style.height = `${columnHeight}px`;
      whyImage.style.height = `${columnHeight}px`;
    }
  }

  window.addEventListener("load", adjustHeights);
  window.addEventListener("resize", adjustHeights);
</script>
