---
import Image from "astro/components/Image.astro";
import image1 from "../assets/images/matcha/matcha-pour.jpg";
import image2 from "../assets/images/matcha/matcha-and-cookie.jpg";
import IcedMatcha from "../assets/images/matcha/IcedMatcha.webp";
import IcedMatcha2 from "../assets/images/matcha/matcha-iced.jpg";
import MatchaDessert from "../assets/images/matcha/matcha-dessert.jpg";

import GridImage1 from "../assets/images/matcha/matcha-coffee.jpg";
import GridImage2 from "../assets/images/matcha/matcha.jpg";
import GridImage3 from "../assets/images/matcha/matcha-iced-latte.jpg";
import GridImage4 from "../assets/images/matcha/matcha-latte.png";
import GridImage6 from "../assets/images/matcha/matcha-butter.jpg";
import GridImage7 from "../assets/images/matcha/matcha-tea.jpg";
import GridImage9 from "../assets/images/matcha/matcha-cake.jpg";
import GridImage10 from "../assets/images/matcha/flatlay02.png";
import GridImage11 from "../assets/images/recipes/matcha-gin-tonic.png";
import GridImage12 from "../assets/images/instagram/435231047_17974737722690643_3806457038119157261_n.jpg";
import GridImage13 from "../assets/images/matcha/matcha-and-cake.jpg";
import GridImage14 from "../assets/images/matcha/matcha-foam.jpg";
import GridImage15 from "../assets/images/matcha/Iced-Strawberry-Matcha-Latte01.png";

import BaseLayout from "../layouts/BaseLayout.astro";
import HeadlineSection from "../components/sections/HeadlineSection.astro";
import Button from "../components/atoms/Button.astro";
import FormSection from "../components/sections/FormSection.astro";
---

<BaseLayout titleTag="" pagename="b2b">
  <main>
    <section class="headline_section">
      <HeadlineSection
        headline="Elevate your menu with Piohní matcha"
        subheadline="Enhance Your Business with Piohní Matcha: Elevate Your Menu and Delight Your Customers with the Exquisite Flavour, Premium Quality, and Health Benefits of Authentic Japanese Matcha."
        showButton="false"
      />
      <div class="button_container">
        <Button style="tertiary" label="Get Piohní matcha for your business" href="#B2BFormSection" />
        <Button style="tertiary" label="Plan an event with Piohní matcha" href="/events" />
      </div>
    </section>
    <section id="ImageTextSection">
      <div class="StretchImageContainer">
        <Image src={image1} alt="matcha powder in spoon" class="StretchImage" />
      </div>
      <div class="TextColumn">
        <p class="Typo-headline-medium-uppercase">What is piohní?</p>
        <p class="Typo-body-large">
          Piohní offers quality in ceremonial-grade matcha sourced directly from Japan's renowned "Champagne" region. Our matcha embodies a perfect balance of creaminess and sweetness, without a hint of bitterness, and boasts a vibrant green colour
          indicative of its superior quality. <br />
          <br />By partnering with us, you attract loyal customers who appreciate superior taste and generate social media buzz with our signature creamy flavor and exclusive events.
        </p>
        <a href="#" class="Typo-link-large">Let’s work together</a>
      </div>
    </section>
    <section id="TextImageSection">
      <div class="TextColumn2">
        <p class="Typo-headline-medium-uppercase">But why serve matcha?</p>
        <p class="Typo-body-large">
          Matcha isn't just a passing trend; it's a lifestyle embraced by millions, and its popularity is skyrocketing. With its great taste, versatility, and aesthetic appeal, matcha is a must-have addition to your menu. <br />
          <br />Not only does matcha offer a delicious flavour that customers crave, but it's also a versatile ingredient that can be used in both warm and cold drinks, as well as in cooking. Plus, its vibrant green colour makes it instantly
          instaworthy, guaranteeing social media shares and increased visibility for your business.<br /><br />By offering matcha, you're not just providing a beverage; you're offering an experience that keeps customers coming back for more. So why
          wait?<br />Join the matcha movement and watch your business thrive!
        </p>
        <a href="#" class="Typo-link-large">Let’s work together</a>
      </div>
      <div class="StretchImageContainer2">
        <Image src={image2} alt="matcha powder in spoon" class="StretchImage2" />
      </div>
    </section>
    <section id="MatchaRange">
      <div class="sectionHeadlines">
        <h2 class="Typo-headline-medium-uppercase">piohní for all your matcha needs</h2>
        <p class="Typo-body-large">Matcha, similar to wine, comes in a variety of qualities and tastes. Selecting the right type of matcha depends on the taste desired and usage intended.</p>
      </div>
      <div id="RangeGrid">
        <div class="Range">
          <div class="RangeHeadlines">
            <h3 class="Typo-headline-small-elegant">Matcha for beverages</h3>
            <p class="Typo-body-regular">Our AAA+ Ceremonial Grade matcha is perfect to bew and drink with its naturally sweet and creamy taste, that is only obtained in the highest quality matcha.</p>
          </div>
          <div class="RangeImageContainer">
            <Image src={IcedMatcha} alt="matcha powder in spoon" class="RangeImage image" />
          </div>
          <p class="Typo-body-regular">
            Celebrated for its luscious and sweet taste profile, this AAA+ ceremonial grade is the finest of its kind. Made by only the topmost baby leaves, it has a beautiful deep green colour. The enticing aroma has fresh, natural top notes almost
            similar to the scent of white chocolate, which contests its complex, round taste and heightened mildness. It is the matcha sort with the least bitterness, making it a buttery-sweet brew on its own.
          </p>
        </div>
        <div class="Range">
          <div class="RangeHeadlines">
            <h3 class="Typo-headline-small-elegant">Matcha for culinary creations</h3>
            <p class="Typo-body-regular">Our Pattiserie-grade Yumi 友美 matcha is superb in desserts, ice-cream, treats, smoothies, baked goods, chocolate, and many other culinary creations.</p>
          </div>
          <div class="RangeImageContainer">
            <Image src={MatchaDessert} alt="matcha powder in spoon" class="RangeImage image" />
          </div>
          <p class="Typo-body-regular">
            This matcha offers a full-flavoured and harmonious brew. With well-defined flavour profile and harmonious nuances of earthy and umami notes, it serves as the perfect way to cut through sweet treats and culinary creations. Our Yumi matcha
            comes in bags of 500g and gives a delicious and rich 'matcha flavour' for chefs and artisans to create magic with.
          </p>
        </div>
      </div>
    </section>
    <section id="WhyPartner">
      <div class="StretchImageContainer3">
        <Image src={IcedMatcha2} alt="matcha powder in spoon" class="StretchImage3" />
      </div>
      <div class="TextColumn3">
        <p class="Typo-headline-medium-uppercase">Why partner with piohní ?</p>
        <p class="Typo-body-large">
          We supply our specialty quality matcha to hotels and cafés worldwide. <br />
          <br />By partnering with us, you gain access to premium matcha products, expert training in matcha making, and a range of matcha-ware and equipment to enhance your offerings. Plus, unlock the opportunity to host unique matcha-themed events
          that will captivate your customers and set your establishment apart.<br />
          <br />Join us in the pursuit of matcha excellence and elevate your business to new heights.
        </p>
        <div class="button_container">
          <Button style="tertiary" label="Partner with Piohní" href="/b2b" />
          <p class="or">or</p>
          <Button style="tertiary" label="Plan your next event with Piohní" href="/events" />
        </div>
      </div>
    </section>
    <section id="VersatillitySection">
      <div class="VersatillityHeadlines">
        <h3 class="Typo-headline-medium-uppercase">A versatile and aesthetic product</h3>
        <p class="Typo-body-large">Piohní matcha is not only delicious and beautiful, it is versatile too!</p>
      </div>
      <Button style="secondary" label="Find matcha recipes" href="/recepies" />
      <div id="InspoImageGrid">
        <div class="GridImageContainer">
          <Image src={GridImage1} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage2} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage3} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage4} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={image2} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage6} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage7} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={MatchaDessert} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage9} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage10} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage11} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage12} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage13} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage14} alt="" class="GridImage" />
        </div>
        <div class="GridImageContainer">
          <Image src={GridImage15} alt="" class="GridImage" />
        </div>
      </div>
    </section>
    <FormSection SectionId="B2BFormSection" headline="let us partner up!" subheadline="Whether it's training, matcha-ware and equipment, or simply our one-of-a kind delicious matcha, contact us and get new regulars with the best matcha in town." />
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    width: 100vw;
    padding: var(--Spacing-Huge4, 120px) 0px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .headline_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 0 20px;
  }

  #ImageTextSection,
  #TextImageSection,
  #WhyPartner,
  #MatchaRange {
    padding: 0px 20px;
  }
  /* Why Partner section */
  #ImageTextSection,
  #TextImageSection,
  #WhyPartner {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: 760px;
    flex-direction: column;

    align-self: flex-start;
  }

  #TextImageSection {
    flex-flow: column-reverse;
  }

  .StretchImageContainer,
  .StretchImageContainer2,
  .StretchImageContainer3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 295px;
  }

  .StretchImage,
  .StretchImage2,
  .StretchImage3 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .TextColumn,
  .TextColumn2,
  .TextColumn3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .TextColumn2 .Typo-body-large,
  .TextColumn .Typo-body-large,
  .TextColumn3 .Typo-body-large {
    max-width: 700px;
  }

  .button_container {
    display: flex;
    align-items: flex-start;
    gap: 12px 20px;
    flex-wrap: wrap;
  }

  /* Matcha range */

  #MatchaRange {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    max-width: 1440px;
    gap: 40px;
  }
  .sectionHeadlines {
    max-width: 660px;
  }
  #RangeGrid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    flex-direction: column;
  }
  .Range {
    background: var(--Color-Background-Seconday, #f7f2ef);
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;
  }
  .RangeHeadlines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .RangeImageContainer {
    aspect-ratio: 6 / 4;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .RangeImage {
    width: 100%;
    height: 100%;
  }
  .button_container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px 20px;
    flex-wrap: wrap;
  }
  .TextColumn3 .button_container {
    flex-direction: column;
  }
  .or {
    font-family: "contralto-medium", sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.77px;
    align-self: center;
    display: none;
  }

  /* VersatillitySection */
  #VersatillitySection {
    display: flex;
    width: 100%;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    background: var(--Color-Fill-Button-Primary, #f7f2ef);
  }
  .VersatillityHeadlines {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  #InspoImageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 0 12px;
    width: 100%;
    max-width: 1440px;
  }
  .GridImageContainer {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    grid-area: span 1;
  }
  .GridImageContainer:nth-child(n + 13) {
    display: none;
  }
  .GridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 520px) {
    #InspoImageGrid {
      grid-template-columns: repeat(4, 1fr);
    }
    #ImageTextSection,
    #TextImageSection,
    #WhyPartner,
    #MatchaRange {
      padding: 0px 40px;
    }
  }
  @media (min-width: 656px) {
    .or {
      display: block;
    }
    .TextColumn3 .button_container {
      flex-direction: row;
    }
  }

  @media (min-width: 700px) {
    #InspoImageGrid {
      grid-template-columns: repeat(5, 1fr);
    }
    .GridImageContainer:nth-child(n + 13) {
      display: block;
    }
    #VersatillitySection {
      padding: 40px 0;
    }
  }
  @media (min-width: 900px) {
    main {
      gap: 120px;
    }
    #ImageTextSection,
    #TextImageSection,
    #WhyPartner {
      flex-direction: row;
      max-width: 1440px;
      align-self: center;
      gap: 40px;
    }

    #TextImageSection {
      flex-flow: row;
    }
    .StretchImageContainer,
    .StretchImageContainer2,
    .StretchImageContainer3 {
      max-height: none;
    }

    #RangeGrid {
      flex-direction: row;
    }
  }
  @media (min-width: 1100px) {
    main {
      gap: 164px;
    }
    #ImageTextSection,
    #TextImageSection,
    #WhyPartner {
      padding: 0px var(--Spacing-Huge2, 80px);
    }
    #MatchaRange {
      padding: 40px var(--Spacing-Huge2, 80px);
    }
  }
</style>

<script>
  // window.addEventListener("load", adjustHeights);
  document.addEventListener("DOMContentLoaded", adjustHeights);
  window.addEventListener("resize", adjustHeights);

  function adjustHeights() {
    const sections = [
      { text: ".TextColumn", image: ".StretchImageContainer", imageChild: ".StretchImage" },
      { text: ".TextColumn2", image: ".StretchImageContainer2", imageChild: ".StretchImage2" },
      { text: ".TextColumn3", image: ".StretchImageContainer3", imageChild: ".StretchImage3" },
    ];

    sections.forEach((section) => {
      const TextColumn = document.querySelector(section.text) as HTMLElement;
      const StretchImageContainer = document.querySelector(section.image) as HTMLElement;
      const StretchImage = document.querySelector(section.imageChild) as HTMLElement;

      if (TextColumn && StretchImageContainer && StretchImage) {
        const columnHeight = TextColumn.clientHeight;
        StretchImageContainer.style.height = `${columnHeight}px`;
        StretchImage.style.height = `${columnHeight}px`;
      }
    });
  }
</script>
