---
import Image from "astro/components/Image.astro";
import MatchaBar from "../assets/images/events/MatchaBar.jpg";
import Masterclass from "../assets/images/events/Masterclass.webp";
import Mothersday from "../assets/images/events/Mothersday.png";
import SeurmWorkshop from "../assets/images/events/SerumWorkshop.jpg";

import SJJ from "../assets/images/events/SJJ.png";
import Arisholm from "../assets/images/events/Arisholm.png";
import AudoNight from "../assets/images/events/AudoNight.png";
import CPHFW from "../assets/images/events/CPHFW.png";
import SohoHouse from "../assets/images/events/SohoHouse.png";
import SohoXmas from "../assets/images/events/SohoXmas.png";
import TheMuses from "../assets/images/events/TheMuses.png";

import FormSection from "../components/sections/FormSection.astro";
import HeadlineSection from "../components/sections/HeadlineSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout titleTag="" pagename="events">
  <main>
    <HeadlineSection
      headline="Matcha events for all occasions."
      subheadline="Discover the versatility of Piohní matcha at your next event! Whether it's a cozy gathering or a grand celebration, we offer a range of pre-made concepts. But don't let your imagination stop there! You can also create your own unique matcha-inspired event with us. Explore our previous events for inspiration and let us bring the magic of matcha to your occasion."
      buttonText="Plan your next event with Piohní"
      showButton="true"
    />
    <section id="eventConcepts">
      <div class="eventConcept">
        <div class="eventConceptHeadlines">
          <h3 class="Typo-headline-xstrasmall-uppercase">PIOHNÍ MATCHA BAR</h3>
          <p class="Typo-body-regular">Elevate your event with our live matcha bar — delicious and beautiful matcha lattes served by our matchamelier.</p>
        </div>
        <div class="eventConceptImage_container"><Image src={MatchaBar} alt="Piohní Matcha Bar" class="eventConceptImage" /></div>
        <p class="eventDecription Typo-body-regular">
          Picture the scene: guests delighting in the warmth of delicious matcha lattes expertly whisked by our matchamelier right before their eyes. This engaging experience not only brings vibrancy to your showcase but also garners significant
          online attention for your event. Matcha – The most photogenic drink out there.
        </p><a href="#EventFormSection" class="Typo-link">Plan your next event here</a>
      </div>
      <div class="eventConcept">
        <div class="eventConceptHeadlines">
          <h3 class="Typo-headline-xstrasmall-uppercase">MATCHA MASTERCLASS</h3>
          <p class="Typo-body-regular">Learn how to prepare the perfect matcha with Piohní. Dive in to the calming world of real Japanese matcha.</p>
        </div>
        <div class="eventConceptImage_container"><Image src={Masterclass} alt="Piohní Matcha Masterclass" class="eventConceptImage" /></div>
        <p class="eventDecription Typo-body-regular">
          Indulge in a serene 60-minute experience where you'll learn the art of preparing matcha, all while savoring sweet wagashi pairings that perfectly complement the nutty flavor of the matcha. As a special treat, receive a gift bag with your
          very own matcha starter kit to recreate the experience at home: Sip, breathe out & relax.
        </p><a href="#EventFormSection" class="Typo-link">Plan your next event here</a>
      </div>
      <div class="eventConcept">
        <div class="eventConceptHeadlines">
          <h3 class="Typo-headline-xstrasmall-uppercase">MATCHA SERUM WORKSHOP</h3>
          <p class="Typo-body-regular">Say goodbye to winter skin woes as we unveil our weather-proof serum designed to keep your skin glowing all season long.</p>
        </div>
        <div class="eventConceptImage_container"><Image src={SeurmWorkshop} alt="Piohní Matcha Serum Workshop" class="eventConceptImage" /></div>
        <p class="eventDecription Typo-body-regular">
          Our exclusive Matcha Serum Workshop, in collaboration with health expert Nicole Punzi! Perfect for sensitive skin and those prone to redness or rosacea, this serum is your secret weapon for achieving a healthy, radiant complexion throughout
          the winter months. An opportunity to learn and glow with us!
        </p><a href="#EventFormSection" class="Typo-link">Plan your next event here</a>
      </div>
    </section>
    <section id="UpCommingEvents">
      <h3 class="Typo-headline-medium-uppercase">Upcoming events</h3>
      <div class="UpCommingEvent">
        <div class="image_container">
          <Image src={Mothersday} alt="matcha latte in a cup" class="image" />
        </div>
        <div class="UpCommingEventInfo">
          <div class="EventHeadlines"><p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Matcha Brunch</p><h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">mother’s day brunch X Audo</h4></div>
          <p class="EventInfo Typo-body-regular">
            Join us at Audo Restaurant as we celebrate Mother's Day with a delightful Matcha Brunch. Together with Audo we've curated a special treat for you to enjoy, featuring a Honey Matcha Latte and a Chia Pudding infused with matcha and coconut.
            And as a special mother’s day gift we’ve put together a little complimentary Matcha gift pouch for all attendees to bring home
          </p>
          <a href="https://shop.fresto.io/en/audo/events/ida53VKnO2bTBfZe5cwX" class="linkToForm Typo-link" target="_blank">Get your ticket here</a>
        </div>
      </div>
    </section>
    <FormSection
      SectionId="EventFormSection"
      headline="let’s plan an event!"
      subheadline="Elevate your event with Piohní matcha! Choose from our pre-made concepts like the Matcha Bar, Matcha Masterclass, or create your own unique matcha-inspired experience with us. Let's bring the magic of matcha to your occasion together!"
      hasBackground="true"
    />
    <section id="PreviousEvents">
      <h3 class="Typo-headline-medium-uppercase">Previous events</h3>
      <div id="EventGrid">
        <div class="EventCard">
          <div class="EventHeadlines">
            <p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Matcha Masterclass</p>
            <h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">AT SOHO HOUSE</h4>
          </div>
          <Image src={SohoHouse} alt="event photo" class="EventImage image" />
          <p class="EventInfo Typo-body-regular">
            Members of Soho House were treated to an immersive Piohní Masterclass, where they escaped into the wonderful world of matcha. They experienced the healing powers of our matcha firsthand as we guided them through the process of making a
            creamy Piohní Matcha latte.
          </p>
        </div>
        <div class="EventCard">
          <div class="EventHeadlines">
            <p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Matcha Bar</p>
            <h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">PIOHNÍ x SJJ</h4>
          </div>
          <Image src={SJJ} alt="event photo" class="EventImage image" />
          <p class="EventInfo Typo-body-regular">
            The most exclusive jewelry needs only the best quality matcha. At our exclusive event, attendees savored our delightful matcha lattes while celebrating the launch of the SJJ Winter Collection. If you missed out, you can still catch a
            glimpse of the event by <a href="https://www.instagram.com/reel/C0t41cwMU_h/?hl=en" target="_blank" class="Typo-link">clicking here</a>.
          </p>
        </div>
        <div id="EventCTA">
          <p class="fill">Do you have an idea for<br />a new Piohní event?</p>
          <p class="CTA Typo-body-regular">Send us an email: hello@piohni.com</p>
        </div>
        <div class="EventCard">
          <div class="EventHeadlines">
            <p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Matcha Cocktails</p>
            <h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">AUDO OPENING NIGHT</h4>
          </div>
          <Image src={AudoNight} alt="event photo" class="EventImage image" />
          <p class="EventInfo Typo-body-regular">
            Neighbors and guests who attended the opening night of Audo Restaurant inside Audo Hotel in Copenhagen were treated to our signature Piohní matcha lattes and cocktails. It was a delightful evening of community and celebration, where our
            cherished partnership truly shined.
          </p>
        </div>
        <div class="EventCard">
          <div class="EventHeadlines">
            <p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Matcha Bar</p>
            <h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">PIOHNÍ x THE MUSES</h4>
          </div>
          <Image src={TheMuses} alt="event photo" class="EventImage image" />
          <p class="EventInfo Typo-body-regular">
            Guests at Illumination, The Vacation Retreat with Amanda Norgaard have already indulged in our delicious matcha. Set against the picturesque backdrop of the iconic Marqi — One Strange Hotel in the mountains of Sintra, Portugal, it was a
            sweet and intimate gathering filled with moments of joy and connection.
          </p>
        </div>
        <div class="EventCard">
          <div class="EventHeadlines">
            <p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Matcha Bar</p>
            <h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">ARISHOLM</h4>
          </div>
          <Image src={Arisholm} alt="event photo" class="EventImage image" />
          <p class="EventInfo Typo-body-regular">
            Piohní delighted 150 guests at the invite-only Arisholm showcase event at their Atelier in Hellerup with freshly prepared matcha lattes and matcha mocktails. It was a gathering filled with exquisite flavors and memorable moments, enjoyed
            by all in attendance.
          </p>
        </div>
        <div class="EventCard">
          <div class="EventHeadlines">
            <p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Christmas with Piohní</p>
            <h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">Soho house</h4>
          </div>
          <Image src={SohoXmas} alt="event photo" class="EventImage image" />
          <p class="EventInfo Typo-body-regular">
            At the terrace at Soho House Copenhagen, attendees reveled in the festive spirit. While looking for the perfect Christmas gift, they enjoyed the calming sensation and taste of Piohní matcha amidst the holiday atmosphere.
          </p>
        </div>
        <div class="EventCard">
          <div class="EventHeadlines">
            <p class="SecondaryHeadline Typo-headline-xstrasmall-seconday">Matcha Bar</p>
            <h4 class="PrimaryHeadline Typo-headline-xstrasmall-uppercase">PIOHNÍ x CPHFW</h4>
          </div>
          <Image src={CPHFW} alt="event photo" class="EventImage image" />
          <p class="EventInfo Typo-body-regular">
            Piohní had the pleasure of being at the CPHFW NEWTALENT breakfast. We served our exquisite matcha lattes to all designers, press, and buyers at the invite-only showroom event during Copenhagen Fashion Week, creating a magical morning for
            all attendees.
          </p>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    padding: var(--Spacing-Huge4, 120px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-Huge4, 120px);
  }
  /* Concepts Section */
  #eventConcepts {
    display: flex;
    width: 100%;
    padding: 0px var(--Spacing-Huge2, 80px);
    justify-content: center;
    align-items: flex-start;
    gap: 80px 40px;
    flex-direction: column;
  }
  .eventConcept {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .eventConceptHeadlines {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .eventConceptImage {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 386/457;
    max-height: 400px;
  }

  /* Up Comming Section */
  #UpCommingEvents,
  #PreviousEvents {
    display: flex;
    width: 100%;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .UpCommingEvent {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding: 0 20px;
  }
  .UpCommingEvent .image_container,
  .UpCommingEvent .image_container .image {
    width: 100%;
    height: 100%;
  }
  .UpCommingEventInfo {
    width: 100%;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  .eventInfo {
    max-width: 433px;
  }
  /* Previous Section */

  #EventGrid {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 60px var(--Spacing-Huge1, 20px);
    align-self: stretch;
    flex-wrap: wrap;
    width: 100%;
  }

  .EventCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
  }
  #EventCTA {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-self: stretch;
  }
  #EventCTA .fill {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 16px;
    background: var(--Color-Fill-step, #bad6eb);

    color: var(--Color-Text-White, #fffffe);
    text-align: center;
    font-family: "Contralto Medium";
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .EventImage {
    width: 100%;
    height: 100%;
  }
  @media (min-width: 550px) {
    .EventCard {
      width: 48%;
    }
  }
  @media (min-width: 700px) {
    #UpCommingEvents,
    #PreviousEvents {
      padding: 0px 40px;
    }
    .UpCommingEvent {
      padding: 0;
    }
    #eventConcepts {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    #EventGrid {
      gap: 60px var(--Spacing-Huge1, 40px);
    }
    .EventCard {
      width: 46%;
    }
    .UpCommingEventInfo {
      padding: 20px 0px 20px 20px;
    }
    #EventCTA {
      display: flex;
      width: 46%;
    }
  }

  @media (min-width: 985px) {
    .EventCard,
    #EventCTA {
      width: 275px;
      min-width: 260px;
    }
  }
  @media (min-width: 1100px) {
    #eventConcepts {
      display: flex;
      gap: var(--Spacing-Huge1, 60px);
      flex-direction: row;
    }
    #UpCommingEvents,
    #PreviousEvents {
      padding: 0px var(--Spacing-Huge2, 80px);
    }
    #EventGrid {
      gap: 60px var(--Spacing-Huge1, 60px);
    }
    .UpCommingEvent {
      flex-direction: row;
    }
  }
</style>
