---
const { style, label, href, size } = Astro.props;
---

<div class="button buttonComponent" style-variant={style} size-variant={size}>
  <a href={href} class="Typo-button_label button_labelComponent" label-variant={style}>{label}</a>
</div>

<style>
  .buttonComponent {
    box-shadow: 0px 1px 4px 0px var(--Color-Effect-Dropshadow-Button-Default);
  }
  .button_labelComponent {
    color: var(--Color-Text-Button);
  }
  .button:hover {
    box-shadow: 0px 1px 4px 0px var(--Color-Effect-Dropshadow-Button-Hover);
  }
  .button:focus {
    box-shadow: 0px 1px 4px 0px var(--Color-Effect-Dropshadow-Button-Hover);
    border: 1.5px solid var(--Color-Stroke-Primary, #d5d0c8);
  }
  .button:active {
    box-shadow: 0px 1px 4px 0px var(--Color-Effect-Dropshadow-Button-Pressed), 0px 4px 4px 0px var(--Color-Effect-Dropshadow-Button-Default) inset;
  }
  .button:disabled {
    background-color: var(--Color-Fill-Button-Diabled);
  }
  /* ----------- Variants ----------- */

  /* Primary */
  [style-variant="primary"] {
    background-color: var(--Color-Fill-Button-Primary);
  }

  /* Secondary */
  [style-variant="secondary"] {
    background-color: var(--Color-Fill-Button-Secondary);
  }

  /* tertiary */
  [style-variant="tertiary"] {
    background-color: var(--Color-Fill-Button-Tertiary);
  }
  [style-variant="tertiary"]:hover {
    box-shadow: 0px 1px 4px 0px var(--Color-Fill-Icon-transparent);
  }
  [style-variant="tertiary"]:focus {
    border: 1.5px solid var(--Color-Stroke-Secondary);
    box-shadow: 0px 1px 4px 0px var(--Color-Fill-Icon-transparent);
  }
  [style-variant="tertiary"]:active {
    box-shadow: 0px 1px 4px 0px var(--Color-Fill-Icon-transparent), 0px 4px 4px 0px var(--Color-Fill-Icon-transparent) inset;
  }
  [style-variant="tertiary"] .button_labelComponent {
    color: var(--Color-Text-White);
  }

  /* Fill container width variant */
  [size-variant="fillContainer"] {
    width: 100%;
  }
</style>
